# SQLite3
### 개요
#### 1.1 경량 DBMS
- 별도의 서버가 필요 없음
- 모바일 기기에서 많이 활용되고 있음
- 파이썬3에 기본 내장되어 있음
- 파일 또는 메모리에 DB 생성
- 참고자료: SQLite로 가볍게 배우는 데이터베이스 (WikiDocs)

#### 1.2 데이터 타입
- 동적 데이터 타입
- Null, Integer, Real, Text, Blob 유형이 있음 (Boolean, Date, Time 없음)
- 다른 유형 데이터를 삽입해도 컬럼에 맞게 알아서 들어감.
- 다른 DB에서 사용하는 데이터유형 이름 그대로 사용해도 무방

#### 1.3 DBMS 관리 툴
- SQLite Expert
- Personal version은 freeware 이므로 사용할 수 있음

In [25]:
import sqlite3


- 데이터베이스 접속

In [87]:
conn = sqlite3.connect('./test.db')
'''
conn = sql3.connect('.memory:') #메모리 DB 접속 일회성
'''

"\nconn = sql3.connect('.memory:') #메모리 DB 접속 일회성\n"

- 테이블 생성

In [47]:
cur.execute('DROP TABLE Eagles')

In [48]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

- 데이터 삽입(Insert)

In [49]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

In [50]:
conn.commit()

In [ ]:
import pandas as

In [79]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        7  송광민      내야수  우투우타        공주고     184
6       50  이성열      내야수  우투좌타      순천효천고     185
7       43  정은원      내야수  우투좌타        인천고     177
8        8  정근우      외야수  우투우타        부산고     172
9       25  최진행      외야수  우투우타      덕수정보고     188

In [84]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

IntegrityError: UNIQUE constraint failed: Eagles.back_no

#### 데이터 조회
- SELECT field1, f2, ..., fn [또는 *] FROM table 
-  WHERE 조건 
-  ORDER BY field [DESC]
-  GROUP BY field
-  LIMIT 숫자

In [89]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

In [90]:

# 단건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

In [92]:
# 다건 조회
rows = cur.fetchmany(2)
for row in rows:
    print(row)

(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)

In [94]:
# 모두 조회
rows = cur.fetchall()
for row in rows:
    print(row)

(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

In [95]:
# 필요한 column만 조회, 조회 조건도 추가
cur = conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 30')
rows = cur.fetchall();
for row in rows:
    print(row)

('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

In [96]:
# 조회 조건
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles WHERE position like '내야수'")
rows = cur.fetchall();
for row in rows:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)

In [97]:
# 원하는 순서
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC')
rows = cur.fetchall();
for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)

In [98]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC LIMIT 5')
rows = cur.fetchall();
for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)

In [99]:

# 집계 함수
cur.execute('SELECT count(*) FROM Eagles')
count = cur.fetchone()
print(count)

(12,)

In [100]:

# 그룹핑, 집계 함수
cur = conn.cursor()
cur.execute('SELECT position, count(*), avg(height) FROM Eagles GROUP BY position')
rows = cur.fetchall();
for row in rows:
    print(row)

('내야수', 5, 183.0)
('외야수', 3, 179.0)
('투수', 3, 182.66666666666666)
('포수', 1, 178.0)

In [101]:
# Placeholder를 사용해서 데이터 검색
cur = conn.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;', (back_no,))
player = cur.fetchone()
print(player)

(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)

- 데이터 변경
- UPDATE table SET field1 = value1, ... WHERE 조건;

In [102]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands='우투좌타', highschool='미쿡고', \
             height=190 WHERE back_no=30;")
conn.commit()

### 3. Table Join

In [103]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Stats \
    (id INT NOT NULL, \
     player TEXT, \
     average REAL, \
     rbi INT, \
     homerun INT, \
     PRIMARY KEY(id));')

In [104]:
stats = pd.read_csv('./stats.csv', encoding='EUC-KR')
stats

FileNotFoundError: [Errno 2] File b'./stats.csv' does not exist: b'./stats.csv'

In [88]:
sql = "SELECT e.back_no, e.name, e.position, \
        s.average, s.rbi, s.homerun \
        FROM Eagles AS e JOIN Stats AS s \
        ON e.name like s.player;"
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall();
columnName = ['등번호', '선수명', '포지션', '타율', '타점', '홈런']
eagels_df = pd.DataFrame(columns = columnName)
for row in rows: 
    eagles_df=eagles_df.append(pd.DataFrame([list(row)],
                                           columns = columnName), ignore_index=True)
eagles_df

OperationalError: no such table: Stats