In [1]:
import sqlite3

In [ ]:
import pandas as pd

In [2]:
conn = sqlite3.connect('./test.db')

In [ ]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Pitcher_stats \
            id INT NOT NULL, \
            ')

In [ ]:
cur = conn.cursor()
sql = 'INSERT INTO Pitcher_stats VALUES(?,?,?,?,?,?)'

In [ ]:
sql = "SELECT e.back_no, e.name, e.position, \
        p.era, p.ip, p.so \ 
        FROM Eagles AS e JOIN Pitcher_stats AS p \
        ON e.name like p.player;"
cur = conn.cursor()
cur.execute(sql)